body {
    background: linear-gradient(45deg,#146C63,#535857);
    color: #F5F9FF;
    font-family: Arial, sans-serif;
    }
nav {
    text-align: center;
}
nav a {
    text-align: center;
    color: #F5F9FF;
    font-weight: bold;
    text-align: text;
    text-decoration: none;
}