body {
    background-image: url("images/icircut.jpg");
    color: #F5F9FF;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
nav {
    text-align: center;
    background-color: rgba(10, 17, 40, 0.8);
    background-size: cover;
}
nav a {
    text-align: center;
    font-size: 1.4em;
    color: #7BAFD4;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 0 20px;
}

nav a:hover {
    color: #FFFFFF;
}
button {
    color: rgba(10, 17, 40, 0.8);
    background-color:#7BAFD4 ;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    padding:15px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-family: "Trebuchet MS", sans-serif;    
}
button:hover {
    background-color: #FFFFFF;

}
h1 {
    text-align: center;
    background-size: cover;
    color: #E4BB90;
    text-shadow:
        .5px .5px 0 #0a1128,
        1px 1px 0 #0a1128,
        1.5px 1.5px 0 #0a1128,
        2px 2px 0 #0a1128; 
}
.modern_about {
    background-image: url("images/modern_avatar_lg.jpeg");
    background-size: 512px 512px;
    background-repeat: no-repeat;
    background-position: center;
    height: 512px;
}
p {
    background-color:  rgba(10, 17, 40, 0.8);
    color:#FFFFFF;
    font-family: arial, sans-serif;
    font-weight: bold;
    line-height: 1.5;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 72px;
}
h2 {
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    color: #E4BB90;
    font-weight: bold;
    text-shadow:
        .5px .5px 0 #0a1128,
        1px 1px 0 #0a1128,
        1.5px 1.5px 0 #0a1128,
        2px 2px 0 #0a1128;
}
ul {
    color:#FFFFFF;
    font-size: 1em;
    background-color: rgba(10, 17, 40, 0.8);
    text-align: center;
    list-style-type: none;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
h4 {
    text-align: center;
    color:#E4BB90;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.2em;
    text-shadow:
        .5px .5px 0 #0a1128,
        1px 1px 0 #0a1128,
        1.5px 1.5px 0 #0a1128,
        2px 2px 0 #0a1128; 
}

dl {
    margin: 0 auto;
    max-width: 900px;
    padding-top: 2px;
}
dl dt {
    text-shadow:
        .5px .5px 0 #0a1128,
        1px 1px 0 #0a1128,
        1.5px 1.5px 0 #0a1128,
        2px 2px 0 #0a1128; 
    font-size:1.8em;
    color:#E4BB90;
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}
dl dd {
    color:#E4BB90;
    background-color:rgba(10, 17, 40, 0.8);
    line-height: 1.5;
    max-width: 900px;
    margin-bottom: 1.25rem;
    padding-bottom: 5px;
}
dd p {
    color:#E4BB90;
    font-weight: 100;
    font-family: "Trebuchet MS", san sans-serif;
}
dd a {
    color:#7BAFD4;
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
    text-decoration: none;
    padding-top: 1.5em;
}

dd a:hover {
    color:#FFFFFF
}
.modern_table {
    width: 80%;
    background-color: rgba(10, 17, 40, 0.8);
    color: #E4BB90;
    border-collapse: collapse;
    border: solid;
    margin: 0 auto;
} 

 .adept_modern_table {
    background-image: url("images/adept_32.png");
    background-repeat: no-repeat;
    background-size: 32px 32px;
    width: calc(32px);
    height: 32px;
    background-position: center center;
 }  
.modern_table th,
.modern_table td {
    border: 1px solid #FFFFFF;
    padding: 10px;
    color:#FFFFFF;
}

footer {
    text-align: center;
    padding: 15px;
    font-size: 0.75rem;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    max-height: 900px;
    background-color:rgba(10, 17, 40, 0.8);
    border: 1px solid #E4BB90;
    color:#E4BB90;
    gap: 40px;
    align-items: center;
    margin: 0 auto;
    padding: 15px; 
}
form textarea {
    max-width: 400px;
    max-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

td a {
    color: #7BAFD4;
    text-decoration: none;
    font-family: "Trebuchet MS", sans-serif;
    font-style: italic;
    font-weight: bold;
}

 td a:hover {
    color: #E4BB90;
    font-style: italic;
 }

 header {
    margin-bottom: 48px;
 }

 div {
    margin-top: 48px;
    margin-bottom: 48px;
 }

#modern_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}