body {
    background-image: url("images/modern_background_2.png");
    color: #F5F9FF;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
nav {
    text-align: center;
    background-color: rgba(10, 17, 40, 0.8);
    background-size: cover;
}
nav a {
    text-align: center;
    font-size: 1.4em;
    color: #7BAFD4;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    text-align: text;
    text-decoration: none;
    padding: 0 20px;
}

nav a:hover {
    color: #FFFFFF;
}
button {
    color: rgba(10, 17, 40, 0.8);
    background-color:#7BAFD4 ;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    padding:15px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-family: "Trebuchet MS", sans-serif;    
}
button:hover {
    background-color: #FFFFFF;

}
h1 {
    text-align: center;
    background-color: rgba(10, 17, 40,.80);
    background-size: cover;
    color: #E4BB90;
}
.modern_about {
    background-image: url("images/modern_avatar_256.jpg"),
    url("images/modern_background.png");
    background-size: 256px, 25%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    height: 256px;
}
p {
    background-color:  rgba(10, 17, 40, 0.8);
    color:#FFFFFF;
    font-family: arial, sans-serif;
    font-weight: bold;
    line-height: 1.5;
    max-width: 900px;
    margin: 0 auto;
}
h2 {
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    color: #E4BB90;
    font-weight: bold;
    text-shadow: -2px -2px 0 rgb(10, 17, 40),
         2px -2px 0 rgb(10, 17, 40),
        -2px  2px 0 rgb(10, 17, 40),
         2px  2px 0 rgb(10, 17, 40);
}
ul {
    color:#FFFFFF;
    font-size: 1em;
    background-color: rgba(10, 17, 40, 0.8);;
    text-align: center;
    list-style-type: none;
    
}
h4 {
    text-align: center;
    color:#E4BB90;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.2em;
    text-shadow: -2px -2px 0 rgb(10, 17, 40),
         2px -2px 0 rgb(10, 17, 40),
        -2px  2px 0 rgb(10, 17, 40),
         2px  2px 0 rgb(10, 17, 40);

}
dl dt {
    text-shadow: -2px -2px 0 rgb(10, 17, 40),
         2px -2px 0 rgb(10, 17, 40),
        -2px  2px 0 rgb(10, 17, 40),
         2px  2px 0 rgb(10, 17, 40);
    font-size:1.8em;
    color:#E4BB90;
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
}
dl dd {
    color:#E4BB90;
    background-color: rgb(10, 17, 40);
    line-height: 1.5;
    max-width: 900px;
    margin: 0 auto;
}
dd p {
    color:#E4BB90;
    font-weight: 100;
    font-family: "Trebuchet MS", san sans-serif;
}
dd a {
    color:#7BAFD4;
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
    text-decoration: none;
    padding-top: 1.5em;
}

dd a:hover {
    color:#FFFFFF
}
.modern_table {
    width: 80%;
    background-color: rgb(10, 17, 40);
    color: #E4BB90;
    border-collapse: collapse;
    border: solid;
    margin: 0 auto;
} 

 .adept_modern_table {
    background-image: url("images/adept_32.png");
    background-repeat: no-repeat;
    background-size: 32px 32px;
    width: calc(32px);
    height: 32px;
    background-position: center center;
 }  
.modern_table th,
.modern_table td {
    border: 1px solid #FFFFFF;
    padding: 10px;
    color:#FFFFFF;
}

footer {
    text-align: left;
    padding: 15px;
}
 