body {
    background-image: url("../images/modern_background_2.png");
    color: #F5F9FF;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
nav {
    text-align: center;
    background-color: rgba(10, 17, 40, 0.8);
    background-size: cover;
}
nav a {
    text-align: center;
    font-size: 1.4em;
    color: lightblue;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    text-align: text;
    text-decoration: none; 
}

nav a:hover {
    color: #FFFFFF;
    text-decoration: underline #FFFFFF;
}
button {
    color: rgba(10, 17, 40, 0.8);
    background-color:lightblue ;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    padding:15px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;    
}
button:hover {
    background-color: #FFFFFF;

}
h1 {
    text-align: center;
    background-color: rgba(10, 17, 40,.80);
    background-size: cover;
    color: #E4BB90;
}
.modern_about {
    background-image: url("images/modern_avatar_256.jpg"),  url("images/modern_background.png");
    background-size: 256px, 25%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    height: 256px;
    length: 256px, cover;
}
p {
    background-color:  rgba(10, 17, 40, 0.8);
    color:#E4BB90
}
h2 {
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    color: #E4BB90;
    font-weight: bold;
    text-shadow: -2px -2px 0 rgb(10, 17, 40),
         2px -2px 0 rgb(10, 17, 40),
        -2px  2px 0 rgb(10, 17, 40),
         2px  2px 0 rgb(10, 17, 40);
}
ul {
    color:#FFFFFF;
    font-size: 1em;
    background-color: rgba(10, 17, 40, 0.8);;
    text-align: center;
    list-style-type: none;
    
}
h4 {
    text-align: center;
    color:#E4BB90;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.2em;
    text-shadow: -2px -2px 0 rgb(10, 17, 40),
         2px -2px 0 rgb(10, 17, 40),
        -2px  2px 0 rgb(10, 17, 40),
         2px  2px 0 rgb(10, 17, 40);

}
dl dt {
    text-shadow: -2px -2px 0 rgb(10, 17, 40),
         2px -2px 0 rgb(10, 17, 40),
        -2px  2px 0 rgb(10, 17, 40),
         2px  2px 0 rgb(10, 17, 40);
    font-size:1.5em;
    color:#E4BB90;
    font-family: "Trebuchet MS", sans-serif;
}
dl dd {
    font-weight: bold;
    color:#FFFFFF;
    background-color: rgb(10, 17, 40);
}
