body {
    background-image: url("../images/modern_background_2.png");
    color: #F5F9FF;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
nav {
    text-align: center;
    background-color: rgba(10, 17, 40, 0.8);
    background-size: cover;
}
nav a {
    text-align: center;
    font-size: 1.4em;
    color: #E4BB90;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    text-align: text;
    text-decoration: none; 
}

nav a:hover {
    color: #F5DEB3;
    text-decoration: underline #F5DEB3;
}
button {
    color: #0F766E;
    background-color: #E4BB90;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    padding:15px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;    
}
button:hover {
    background-color: #F5DEB3;

}
h1 {
    text-align: center;
    background-color: rgba(10, 17, 40, 0.8);
    background-size: cover;
}
.modern_about {
    background-image: url("images/modern_avatar_small_frame.jpg"),  url("images/modern_background.png");
    background-size: 128px, 128px auto;
    background-repeat: no-repeat, repeat;
    background-position: left center, center;
    height: 128px;
}
