body {
    background: #C0C0C0;
    font-family: "Times New Roman", sans-serif;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    background-image: url("images/memphis_retro.png");
    background-size: cover;
    background-repeat: none;
    background-position: center;
    
}
nav a:hover {
    display: block;
    font-weight: bold;
    text-align: left;
    font-size: 1.2em;
    color:chartreuse;
    background-color: #FF006C;
}
h1 {
    color: navy;
    background-image: url("images/eighties_leopard.png");
    background-size: 100px;
    background-repeat: repeat;
    background-position: center;
}

.fyre {
    background-image: url("images/fire_thirty_two.gif");
    padding-left: 24px;
    background-repeat: no-repeat;
}
.fyreUlLi {
    list-style-image: url("images/fire_seven_seven.gif");
}

dt {
    font-weight: bold;
    color: navy;
}

h2 {
    color: blueviolet;
    font-weight: bold;
    font-size: 3em;
    
}
.new {
    background-image: url("images/new_two.gif");
    padding-left: 36px;
    line-height: 36px;
    background-repeat: no-repeat;
    
}

.retro_python {
    background-image: url("images/python_128.gif"), url("images/memphis_retro.png");
    background-size: 128px, 128px auto;
    background-repeat: no-repeat, repeat;
    background-position: left center, center;
    height: 128px;
    
}

.retro_javascript {
    background-image: url("images/js_128.gif"), url("images/memphis_retro.png");
    background-size: 128px, 128px auto;
    background-repeat: no-repeat, repeat;
    background-position: left center, center;
    height: 128px;
    
}
.retro_cpp {
    background-image: url("images/cpp_128.gif"), url("images/memphis_retro.png");
    background-size: 128px, 128px auto;
    background-repeat: no-repeat, repeat;
    background-position: left center, center;
    height: 128px;
}
.construction_cpp {
    background-image: url("images/construction_sixty_four.png");
    padding-left: 72px;
    line-height: 36px;
    background-repeat: no-repeat;
      
}
.retro_about_me {
    background-image: url("images/retro_avatar_256.png"), url("images/memphis_retro.png");
    background-size: 256px, 256px auto;
    background-repeat: no-repeat, repeat;
    background-position: left center, center;
    height: 256px;
    padding-left: 300px;
}
.retro_tech_stack {
    background-image: url("images/flowchart_128.gif"), url("images/memphis_retro.png");
    background-size: 128px, 128px auto;
    background-repeat: no-repeat, repeat;
    background-position: left center, center;
    height: 128px;
}
.retro_table {
    width: 80%;
    background-color: purple;
    color: white;
    border-collapse: collapse;
    border: solid; 
}
.retro_table th,
.retro_table td {
    border: 1px solid white;
    padding: 10px;
}
.fyre_retro_table {
    background-image: url("images/fire_thirty_two.gif");
    background-repeat: repeat-x;
    background-size: 32px 32px;
    width: calc(32px * 3);
    height: 32px;
    
}

