body {
    background: #C0C0C0;
    font-family: "Times New Roman", sans-serif;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    background-image: url("images/memphis_retro.png");
    background-size: cover;
    background-repeat: none;
    background-position: center;
    
}
nav a:hover {
    display: block;
    font-weight: bold;
    text-align: left;
    font-size: 1.2em;
    color:chartreuse;
    background-color: #FF006C;
}
h1 {
    color: navy;
    background-image: url("images/eighties_leopard.png");
    background-size: 100px;
    background-repeat: repeat;
    background-position: center;
}

dt.fyre {
    background-image: url("images/fire_thirty_two.gif");
    padding-left: 24px;
    background-repeat: no-repeat;
}



